.profile__info {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

.profile__info-item {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 10px;
}
.profile__info-item-icon {
  display: flex;
  width: 30px;
  justify-content: center;
}

.profile__info-item-text {
  font-size: 15px;
  color: var(--text-gray);
}
.profile__info-item-text a {
  color: var(--text-link);
}
.profile__info-item:nth-child(3) {
  position: relative;
}

.profile__info-item:nth-child(3):after {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  right: 25%;
  width: 20px;
  height: 20px;
  background: url("../../images/logo.png") center center / contain no-repeat;
}

@media screen and (max-width: 600px) {
  .profile__info-item:nth-child(3):after {
    display: none;
  }
}
