* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "SF Pro Display Semibold", sans-serif;
  text-decoration: none;
}

#root {
  background: var(--bg-gray);
  height: 100vh;
  padding: 20px 0;
}
:root {
  --text-black: #000;
  --text-white: #fff;
  --text-gray: #6f7985;
  --bg-gray: #edeef0;
  --text-link: #4986cc;
}

@media screen and (max-width: 600px){
  #root {
    padding: 0;
  }
}
